.git/
.github/
.venv/
__pycache__/
*.pyc
.pytest_cache/

data/
data_fixtures/
outputs/
logs/

*.parquet
*.gz
*.zip

.env
configs/local.yaml
.DS_Store
.vscode/
.idea/
itch-data-pipeline-code-week10.tar.gz
